create table dba.cs_medicados (tipo_doc char(4) not null, num_doc numeric(16,0) not null, id_empresa char(15) not null, cod_medicado char(15) not null, dosis_kg_tn numeric(8,2) not null, batches_autorizados numeric(4,0) not null, cant_autorizada numeric(6,0) not null, fecha_ini_vigencia datetime not null, estado char(1) not null, fecha_activacion datetime not null, usr_activa char(15) not null, fecha_desactivacion datetime null, usr_desactiva char(15) null) ;
alter table dba.cs_medicados add constraint pk_cs_medicados primary key clustered (tipo_doc, num_doc, id_empresa, cod_medicado) ;
