alter table dba.cs_config  add
       usuario_pesapack char(30) null,
       contrasena_pesapack char(30) null,
       base_datos_pesapack varchar(30) null,
       servidor_pespack varchar(30) null;

     