  SELECT dba.cs_encab_p_alissa.id_formula,
	    dba.mp_materia_prima.descripcion_articulo,   
         dba.cs_encab_p_alissa.fecha,   
         dba.cs_encab_p_alissa.orden_empaque,   
         dba.cs_encab_p_alissa.cantidad_producida,   
         dba.cs_encab_p_alissa.n_batches,   
         dba.cs_encab_p_alissa.bodega_asociada
         FROM dba.cs_encab_p_alissa,
		dba.mp_materia_prima  
   WHERE  dba.cs_encab_p_alissa.id_empresa=dba.mp_materia_prima.id_empresa and
			dba.cs_encab_p_alissa.id_formula=dba.mp_materia_prima.codigo_articulo and
		dba.cs_encab_p_alissa.ind_inventarios = 'N' AND
	 dba.cs_encab_p_alissa.id_formula not in('DEVPRO','GRANJA','MERMA','RENDI','SALIDA','PRESTAMO','VENTA') AND 
      dba.cs_encab_p_alissa.ind_macro='S';
